<div class="player">
    <audio controls id="audioPlayer">
        <source src="null" type="null" id="audioSource">
        Your browser does not support the audio element.
    </audio>
    <div class="metaPlayer">
        <span ng-if="running">
            <div ng-if="!running.meta.title" class="running">
                {{running.name}}
            </div>
            <div ng-if="running.meta.title" class="running">
                {{running.meta.title}}
                {{running.meta.artist[0]}}
            </div>
            <div class="runningCover" ng-if="running.meta.pic"><img src="{{running.meta.pic}}" alt="runningCover" class="RunningCov"/></div>
            <div class="runningCover" ng-if="!running.meta.pic"><img src="img/default_cover.png" alt="runningCover" class="RunningCov"/></div>
        </span>
    </div>
</div>
<div ngf-drop="uploadFiles($files)" class="drop-box"
  ngf-drag-over-class="dragover" ngf-multiple="true">Drag and Drop files here to upload</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
<div class="btn-upload" ngf-select="uploadFiles($files)" ngf-multiple="true">choose stuff(s) to upload</div>
<div class="uploading">
    <div class="up" ng-repeat="up in uploading">
        {{up.name}} :  upload is at {{up.pct}}%<br>
        {{up.error}}
        <span ng-if="up.ok"> Title uploaded.</span>
    </div>
</div>
<div id="mainMenu">
    <button type="button" name="button" ng-click="reduceMusic()" class="reduceMusic">Reduce Music</button>
</div>
<div ng-if="loader" class="loading" style="text-align: center;">
    <img src="img/loader-page.gif" />
</div>
<div id="music">
    <ul class="listMusic">
        <span ng-repeat="stream in streams track by $index" class="itemMusic {{$index}}">
            <span class="doMore">
                <img src="img/ic_more_vert_black_24dp_1x.png" alt="more" ng-click="options($index)" class="optItem"/>
                <div class="optsItem" style="display: none">
                    <span class="oneOpt" ng-click="download($index)">Download</span>
                    <span class="oneOpt" ng-click="edit($index)">Edit</span>
                    <span class="oneOpt" ng-click="delete($index)">Delete</span>
                </div>
            </span>
            <li ng-click="play($index)" class="liItem">
                <div class="Meta" ng-if="stream.meta.title">
                    <div class="textItem" style="height: 50%;">
                        <span class="title">{{stream.meta.title}}</span>
                        <span class="artist"><i>From : </i>{{stream.meta.artist[0]}}</span>
                        <span class="album"><i>Album : </i>{{stream.meta.album}}</span>
                    </div>
                </div>
                <div class="Meta" ng-if="!stream.meta.title">
                    <div class="textItem" style="height: 50%;">
                        <span class="title">{{stream.name}}</span>
                    </div>
                </div>
                <div class="cover" ng-if="stream.meta.pic"><img src="{{stream.meta.pic}}" alt="cover" class="cov"/></div>
                <div class="cover" ng-if="!stream.meta.pic"><img src="img/default_cover.png" alt="cover" class="cov"/></div>
            </li>
        </span>
    </ul>
</div>
<div class="onTop" ng-if="onTop.show">
    <div class="editMeta" ng-if="onTop.meta">
        <span ng-click="closeMeta()">X</span>
        <p>
            <h4>Edit of {{editMeta.name}}</h4>
            <label>Artist : </label><input type="text" ng-model="editMeta.artist[0]"><br>
            <label>Album : </label><input type="text"  ng-model="editMeta.album"><br>
            <label>Title : </label><input type="text"  ng-model="editMeta.title"><br>
        </p>
        <button type="button" name="ok" ng-click="updateMeta(editMeta)">Validate</button>
        <button type="button" name="notOk" ng-click="closeMeta()">Cancel</button>
    </div>
</div>
