<div ng-if="loader" class="loading" style="text-align: center;">
    <img src="img/loader-page.gif" />
</div>
<div id="optsItem" style="display: none">
    <span class="oneOpt" ng-click="download(optionsIndex)"><img src="img/ic_file_download_black_24dp.png" alt="dl" class="imgOpt"/><span class="txtOpt">Download</span></span>
    <span class="oneOpt" ng-click="edit(optionsIndex)"><img src="img/ic_edit_black_24dp.png" alt="edit" class="imgOpt"/><span class="txtOpt">Edit</span></span>
    <span class="oneOpt" ng-click="comment(optionsIndex)"><img src="img/ic_comment_black_24dp.png" alt="edit" class="imgOpt"/><span class="txtOpt">Comment</span></span>
    <span class="oneOpt" ng-click="delete(optionsIndex)"><img src="img/ic_delete_black_24dp.png" alt="del" class="imgOpt"/><span class="txtOpt">Delete</span></span>
</div>
<div id="music">
    <ul class="listMusic">
        <span ng-repeat="stream in streams track by $index" class="itemMusic {{$index}}">
            <span class="doMore">
                <img src="img/ic_more_vert_black_24dp_1x.png" alt="more" ng-click="options($index, $event)" class="optItem"/>
            </span>
            <li ng-click="play($index)" class="liItem">
                <div class="Meta" ng-if="stream.meta.title">
                    <div class="textItem" style="height: 50%;">
                        <span class="title">{{stream.meta.title}}</span>
                        <span class="artist" ng-if="stream.meta.artist[0]"><i>From : </i>{{stream.meta.artist[0]}}</span>
                        <span class="album" ng-if="stream.meta.album"><i>Album : </i>{{stream.meta.album}}</span>
                    </div>
                </div>
                <div class="Meta" ng-if="!stream.meta.title">
                    <div class="textItem" style="height: 50%;">
                        <span class="title">{{stream.name}}</span>
                    </div>
                </div>
                <div class="cover" ng-if="stream.meta.picture"><img src="{{stream.meta.picture}}" alt="cover" class="cov"/></div>
                <div class="cover" ng-if="!stream.meta.picture"><img src="img/default_cover.png" alt="cover" class="cov"/></div>
            </li>
        </span>
    </ul>
</div>
<div class="onTop" ng-if="onTop.show">
    <div class="editMeta" ng-if="onTop.meta">
        <span ng-click="closeMeta()">X</span>
        <p>
            <h4>Edit of {{editMeta.name}}</h4>
            <label>Artist : </label><input type="text" ng-model="editMeta.artist[0]"><br>
            <label>Album : </label><input type="text"  ng-model="editMeta.album"><br>
            <label>Title : </label><input type="text"  ng-model="editMeta.title"><br>
        </p>
        <button type="button" name="ok" ng-click="updateMeta(editMeta)">Validate</button>
        <button type="button" name="notOk" ng-click="closeMeta()">Cancel</button>
    </div>

    <div class="editComment" ng-if="onTop.comment">
        <span ng-click="closeMeta()">X</span>
        <p>
            Comming Soon!
        </p>
        <!-- <p>
            <h4>Comment {{editComment.name}}</h4>
            <textarea ng-model="editComment.comment"></textarea>
        </p>
        <button type="button" name="ok" ng-click="addComment(editComment)">Add</button> -->
        <button type="button" name="notOk" ng-click="closeMeta()">Cancel</button>
    </div>
</div>

