<div ngf-drop="uploadFiles($files)" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true">
    <div class="contentDrag">
        Drop files here!
        <img src="img/ic_file_upload_black_24dp.png" alt="upload" />
    </div>
</div>
<div class="player">
    <audio controls id="audioPlayer">
        <source src="null" type="null" id="audioSource">
        Your browser does not support the audio element.
    </audio>
    <div class="metaPlayer">
        <span ng-if="running">
            <div ng-if="!running.meta.title" class="running">
                {{running.name}}
            </div>
            <div ng-if="running.meta.title" class="running">
                <b>{{running.meta.title}}</b> by {{running.meta.artist[0]}}
            </div>
            <div class="runningCover" ng-if="running.meta.picture"><img src="{{running.meta.picture}}" alt="runningCover" class="RunningCov"/></div>
            <div class="runningCover" ng-if="!running.meta.picture"><img src="img/default_cover.png" alt="runningCover" class="RunningCov"/></div>
            <div class="ctrls">
                <img ng-click="audioPrev()" src="img/ic_skip_previous_black_24dp.png" alt="prev" />
                <img ng-click="audioPlay()" src="img/ic_pause_black_24dp.png" alt="pause_play" class="pause_play" />
                <img ng-click="audioNext()" src="img/ic_skip_next_black_24dp.png" alt="next" />
            </div>
        </span>
    </div>
</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

<div class="uploading">
    <div class="up" ng-repeat="up in uploading">
        {{up.name}} :  upload is at {{up.pct}}%<br>
        {{up.error}}
        <span ng-if="up.ok"> Title uploaded.</span>
    </div>
</div>
<div id="mainMenu">
    <ul>
        <li>
            <div ng-click="reduceMusic()" class="btnMenu"><img src="img/ic_swap_horiz_black_24dp.png" alt="reduce" title="swap music size"/></div>
        </li>
        <li>
            <div class="btn-upload btnMenu" ngf-select="uploadFiles($files)" ngf-multiple="true"><img src="img/ic_add_black_24dp.png" alt="upload" title="upload what you want" /></div>
        </li>
        <li>
            <div class="btnMenu" ng-click="displayNotes()">
                <span class="txtMenu">Notes</span>
            </div>
        </li>
    </ul>
</div>
<div ng-if="loader" class="loading" style="text-align: center;">
    <img src="img/loader-page.gif" />
</div>
<div id="optsItem" style="display: none">
    <span class="oneOpt" ng-click="download(optionsIndex)"><img src="img/ic_file_download_black_24dp.png" alt="dl" class="imgOpt"/><span class="txtOpt">Download</span></span>
    <span class="oneOpt" ng-click="edit(optionsIndex)"><img src="img/ic_edit_black_24dp.png" alt="edit" class="imgOpt"/><span class="txtOpt">Edit</span></span>
    <span class="oneOpt" ng-click="comment(optionsIndex)"><img src="img/ic_comment_black_24dp.png" alt="edit" class="imgOpt"/><span class="txtOpt">Comment</span></span>
    <span class="oneOpt" ng-click="delete(optionsIndex)"><img src="img/ic_delete_black_24dp.png" alt="del" class="imgOpt"/><span class="txtOpt">Delete</span></span>
</div>
<div id="music">
    <ul class="listMusic">
        <span ng-repeat="stream in streams track by $index" class="itemMusic {{$index}}">
            <span class="doMore">
                <img src="img/ic_more_vert_black_24dp_1x.png" alt="more" ng-click="options($index, $event)" class="optItem"/>
            </span>
            <li ng-click="play($index)" class="liItem">
                <div class="Meta" ng-if="stream.meta.title">
                    <div class="textItem" style="height: 50%;">
                        <span class="title">{{stream.meta.title}}</span>
                        <span class="artist" ng-if="stream.meta.artist[0]"><i>From : </i>{{stream.meta.artist[0]}}</span>
                        <span class="album" ng-if="stream.meta.album"><i>Album : </i>{{stream.meta.album}}</span>
                    </div>
                </div>
                <div class="Meta" ng-if="!stream.meta.title">
                    <div class="textItem" style="height: 50%;">
                        <span class="title">{{stream.name}}</span>
                    </div>
                </div>
                <div class="cover" ng-if="stream.meta.picture"><img src="{{stream.meta.picture}}" alt="cover" class="cov"/></div>
                <div class="cover" ng-if="!stream.meta.picture"><img src="img/default_cover.png" alt="cover" class="cov"/></div>
            </li>
        </span>
    </ul>
</div>
<div class="onTop" ng-if="onTop.show">
    <div class="editMeta" ng-if="onTop.meta">
        <span ng-click="closeMeta()">X</span>
        <p>
            <h4>Edit of {{editMeta.name}}</h4>
            <label>Artist : </label><input type="text" ng-model="editMeta.artist[0]"><br>
            <label>Album : </label><input type="text"  ng-model="editMeta.album"><br>
            <label>Title : </label><input type="text"  ng-model="editMeta.title"><br>
        </p>
        <button type="button" name="ok" ng-click="updateMeta(editMeta)">Validate</button>
        <button type="button" name="notOk" ng-click="closeMeta()">Cancel</button>
    </div>

    <div class="editComment" ng-if="onTop.comment">
        <span ng-click="closeMeta()">X</span>
        <p>
            Comming Soon!
        </p>
        <!-- <p>
            <h4>Comment {{editComment.name}}</h4>
            <textarea ng-model="editComment.comment"></textarea>
        </p>
        <button type="button" name="ok" ng-click="addComment(editComment)">Add</button> -->
        <button type="button" name="notOk" ng-click="closeMeta()">Cancel</button>
    </div>
</div>
<div id="Notes" style="display: none;">
    <textarea name="newNote" class="editorNote" ng-wig="newNote.content">New note... :)</textarea>
    <div class="btnSub" ng-click="sendNote(newNote)">Send Note!</div>
    <ul class="ulNotes">
        <li ng-repeat="note in notes" class="oneNote">
            <span class="date">{{note.date}}</span>
            <div class="contentNote" ng-bind-html="note.content">
            </div>
        </li>
    </ul>
</div>
