/*tricks:*/
.WrapperMenu ::-webkit-scrollbar {
    width: 6px;
}

.WrapperMenu ::-webkit-scrollbar-track {
    border-radius: 0px;
    background: rgba(102, 217, 239, 0.5);
}

.WrapperMenu ::-webkit-scrollbar-thumb {
    border-radius: 0;
    border-top: 4px solid;
    background: #272822;
    border-bottom: 4px solid;
    border-top-color: white;
    border-bottom-color: white;
}

body{
    background:#484848 !important;
}
p{
    color: #66D9EF;
}
input{
    color: black !important;
}
hr{
    clear: both;
}
.listMusic{
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0px 50px 0px 50px;
}
.btn-upload{
    background: #F98B36;
    text-align: center;
    border-radius: 50%;
}

.btnMenu:hover{
    box-shadow: -1px -1px 6px -2px #4E4E4E;
    z-index: 9;
}

.btnMenu {
    display: block;
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px #4E4E4E;
}

.btnMenu img{
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.drop-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 5px;
    background: rgba(255, 165, 0, 0.53);
    z-index: 99999;
}

.contentDrag{
    margin: auto;
    height: 500px;
    width: 500px;
    background: #FFCF78;
    border-radius: 50%;
    margin-top: 20%;
    text-align: center;
    font-size: 50px;
    line-height: 400px;
}

.dropping {
    background: orange;
}

.current{
    background-color: #EABF33 !important;
    color: #272822 !important;
}

.textItem{
    float: right;
    text-align: right;
}

#app{
    margin-top: 120px;
    margin-bottom: 250px;
}

.wrapTimeLine{
    display: block;
    width: 90%;
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    position: fixed;
    top: 100px;
    right: 5%;
    background: rgba(255, 255, 255, 0.84);
    border-radius: 12px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time{
    width: 5%;
    display: inline-block;
    text-align: center;
}

.timeLine{
    width: 90%;
    display: inline-block;
    background: rgba(171, 171, 171, 0.56);
    height: 100%;
    /* outline: 1px solid black; */
    padding: 0;
    border-radius: 20px;
}

.curElapsed{
    background: #F7BB12;
    height: 100%;
    width: 22px;
    position: absolute;
    /* display: inline-block; */
    height: 22px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px #696666;
    cursor: pointer;
}

.Elapsed{
    display: inline-block;
    background: rgba(156, 232, 87, 0.63);
    height: 100%;
    border-radius: 20px;
    /*transition: 0.3s;*/
}

.itemMusic:hover{
    background: #57909B;
    box-shadow:-1px -1px 5px 1px rgb(68, 125, 136) !important;
    transform: scale(1.05);
}

.itemMusic:hover .Meta{
    color: #272822;
}
.current .Meta{
    color: #272822;
}

@media (min-width: 680px){ /* Big screen: */

    #player{
        position: fixed;
        top: 0;
        width: 90vw;
        height: 100px;
        background: rgba(255, 255, 255, 1);
        z-index: 1000;
        box-shadow: 0px 0px 18px 0px white;
        margin-left: 5vw;
    }

    .ctrls{
        text-align: right;
        display: inline-block;
        float: right;
        max-width: 46%;
    }

    .metaPlaying{
        height: 100%;
        display: inline-block;
        float: left;
        max-width: 50%;
    }

    .metaPlaying img{
        height: 100%;
        float: left;
    }

    .curPlaying{
        float: left;
        height: 100%;
        margin-left: 10px;
	max-width: 76%;
    }

    .itemPlayingMeta {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .sMall{
        font-weight: 100;
    }

    .ctrls img:hover{
        opacity: 1;
    }

    .itemMusic{
        height: 25px;
        margin: 2px;
        cursor: pointer;
        background: #272822;
        display: inline-block;
        word-wrap: break-word;
        padding: 0;
        box-shadow: -1px -1px 5px 1px rgba(27, 25, 25, 0.42);
        /*position: relative;*/
        width: 100%;
        transition: 0.1s;
        z-index: 500;
        /*float: left;*/
    }
    /*
    .itemMusic{
        height: 220px;
        margin: 10px;
        cursor: pointer;
        background: #272822;
        display: inline-block;
        word-wrap: break-word;
        padding: 0;
        box-shadow: -1px -1px 5px 1px rgba(27, 25, 25, 0.42);
        position: relative;
        width: 180px;
        transition: 0.1s;
        z-index: 500;
        float: left;
    }
    */

    .Meta{
        height: 100%;
        width: 80%;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        color: #dbd5c9;
        display: inline-block;
        float: left;
        overflow: hidden;
    }

    .itemMusic:hover .cover{
        height: auto;
        background: black;
        margin-right: 25px;
    }

    /*.Meta{
        height: 40%;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        color: #dbd5c9;
    }*/

    .cover{
        width: 15%;
        height: 100%;
        text-align: center;
        /*background: rgba(0, 0, 0, 0.71);*/
        float: left;
    }

    /*
    .cover{
        width: 100%;
        height: 50%;
        text-align: center;
        background: rgba(0, 0, 0, 0.71);
    }
    */

    .cov{
        max-height: 100%;
        width: auto;
        margin: auto;
        max-width: 100%;
    }

    .metaPlayer{
        width: 40%;
        position: relative;
        height: 100px;
    }

    audio {
        width : 40%;
    }
    .ctrls img {
        opacity: 0.4;
        cursor: pointer;
        max-width: 24%;
    }



    #curPlaylist{
        clear: both;
        height: 80%;
        overflow: auto;
    }

    #curPlaylist ul{
        margin: 0;
        padding: 10px;
        list-style-type: none;
    }

    #curPlaylist ul li{
        height: 30px;
        width: 100%;
        box-shadow: 0px 0px 1px 0px dimgrey;
        word-break: break-all;
        background: rgba(240, 248, 255, 0.14);
        word-wrap: break-word;
        line-height: 30px;
        margin-top: 4px;
        cursor: pointer;
        color: #EABF33;
    }

    #curPlaylist ul li:hover .stats{
        opacity: 1;
    }

    #curPlaylist ul li:hover .statsName{
        width: 50%;
    }

    .statsName{
        width: 100%;
        height: 30px;
        overflow: hidden;
        display: block;
    }

    .stats{
        color: black;
        position: relative;
        opacity: 0;
        display: block;
        top: -30px;
        left: 50%;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.61);
        text-shadow: none;
        font-size: 10px;
        line-height: 10px;
        padding: 2px;
        transition: 0.1s;
    }

    #music{
        /*max-width: 1200px;*/
        /* margin-left: 250px; */
        width: 100vw;
        position: absolute;
        top: 0;
        padding-left: 250px;
        height: 100vh;
        overflow: auto;
        padding-top: 120px;
        padding-right: 12%;
    }

    .streams{
        /*max-width: 1200px;*/
        /* margin-left: 250px; */
        width: 100vw;
        position: absolute;
        top: 0;
        padding-left: 250px;
        height: 100vh;
        overflow: auto;
        padding-top: 120px;
        padding-right: 12%;
    }

    .stream{
        height: 40px;
        width: 100%;
        background: #DAD9D9;
        cursor: pointer;
        margin: 5px;
    }

}

@media (max-width: 680px){ /* Mobile screen size. */
    html{
        margin-bottom: 100px;
    }
    #app{
        margin-top: 48px !important;
    }

    #player{
        height: 100px;
        background: white;
    }

    #music ul{
        padding: 0;
        margin-left: -2%;
    }

    .metaPlaying{
        height: 100%;
    }

    .metaPlayingImg{
        height: 100%;
        max-width: 40%;
        float: left;
    }

    .curPlaying{
        max-width: 60%
        float: left;
        height: 100%;
    }

    .itemPlayingMeta {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .sMall{
        font-weight: 100;
    }

    .ctrls {
        position: fixed;
        bottom: 5px;
        left: 0px;
        width: 100%;
        z-index: 99999999;
        background: rgba(255, 255, 255, 0.5);
    }

    .ctrls img {
        opacity: 0.4;
        margin-left: 2%;
        cursor: pointer;
        width: 20%;
    }

    .wrapTimeLine{
        width: 100%;
        right: 0;
        top: 40px;
        z-index: 99999;
    }

    .itemMusic{
        width: 30%;
        height: 150px;
        margin-left: 3%;
        margin-top: 10px;
        cursor: pointer;
        /* display: inline-block; */
        background: #272822;
        word-wrap: break-word;
        box-shadow: 1px 1px 2px 0px #A2A2A2;
        position: relative;
        float: left;
        list-style-type: none;
    }

    .Meta{
        height: 40%;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: run-in;
        z-index: 2;
        position: absolute;
        color: #FD971F;
        /* text-shadow: 1px 1px 1px white; */
        font-size: 10px;
        overflow: auto;
    }

    .cover{
        height: 60%;
        width: 100%;
        /* float: left; */
        /* position: absolute; */
        z-index: 1;
    }

    .artist{
        font-size: 10px !important;
        font-weight: 100 !important;
    }
    .title{
        font-size: 10px !important;
        font-weight: 100 !important;
        font-style: normal !important;
    }

    .cov{
        max-height: 100%;
        /* width: auto; */
        max-width: 100%;
        margin: 0 auto;
    }

    .timeLine{
        width: 100% !important;
    }

    .time{
        position: absolute;
        min-width: 38px !important;
        z-index: 1;
        opacity: 0.9;
    }
    .tot{
        display: none !important;
    }

    .metaPlayer{
        width: 100%;
        position: relative;
        height: 100px;
    }

    audio {
        width : 100%;
    }
    .editMeta {
        width: 100% !important;
    }

    #addLink{
        position: inherit !important;
    }

    .WrapperMenu{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        top: 0 !important;
        right: 0 !important;
        left: auto !important;
        width: 100% !important;
        height: 40px !important;
    }

    .links{
        height: 100%;
    }

    .oneLink{
        width: 33% !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-left: 0 !important;
        height: 100% !important;
        border: 1px solid rgba(253, 151, 31, 0.36);
    }
    .notes{
        padding: 0;
    }

    #curPlaylist{
        display: none;
    }
    .rootStuff {
        margin-left: 0 !important;
    }

    #Videos{

    }
    #Notes {
        left: 0 !important;
        display: inline-block !important;
        width: 100% !important;
        padding-top: 54px !important;
        /* top: 36px !important; */
        background: #272822;
    }
    .oneNote{
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .inputBtns{
        position: relative !important;
        width: 100vw;
    }
    .inputBox{
        position: relative !important;
        /* height: 95px; */
        margin: auto;
        /* top: 159px; */
    }
    .form-control{
        width: 88 !important%;
    }
    #Cloud{
        padding-left: 0 !important;
    }
    .oneVideo{
        height: 35px !important;
    }
    .metaVideo{
        position: relative !important;
        height: 100% !important;
    }
    .optsVideo{
        float: right !important;
    }
    .fieldVideo{
        height: 30px !important;
    }
}


.artist{
    text-align: right;
/*    width: 100%;
    display: block;*/
    font-weight: 500;
    min-height: 20px;
    margin: 0;
    font-size: 14px;
    padding: 2px;

    float: right;
}

.title{
    /*width: 100%;*/
    display: block;
    font-weight: 500;
    min-height: 20px;
    margin: 0;
    font-size: 14px;
    padding: 2px;
    font-style: italic;

    float: left;
}

.album{
    font-weight: 100;

    float: left;
    padding-left: 35px;
}

.running{
    margin-left: 150px;
    height: 100%;
}

.runningCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
}

.RunningCov{
    height: 100%;
}

#mainMenu{
    width: 100%;
    height: 50px;
    background : #FFFFFF;
}

#mainMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0
}

#mainMenu ul li{
    display: block;
    margin: 0 15px;
    height: 50px;
    float: left;
}
.optItem{
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 999;
    cursor: pointer;
}

.doMore{
    display: normal;
}

.WrapperItem{
    position: relative;
}

.liItem{
    width: inherit;
    height: inherit;
    color: black;
    text-shadow: 1px 1px 2px #F1D2B9;
}

#optsItem{
    position: absolute;
    top: 0;
    left: 0;
    background: #EFEFF2;
    box-shadow: 1px 1px 10px 1px #8E8E8E;
    width: 110px;
    z-index: 9999;
    cursor: default;
    z-index: 501;
}

#wrapperMenu{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0);
    z-index: 500;
}

.oneOpt{
    height: 39px;
    background: #FFFFFF;
    width: 100%;
    display: block;
    line-height: 38px;
    font-weight: bold;
    margin: 1px 1px 1px 1px;
    text-align: center;
    box-shadow: 1px 1px 1px 0px #9E9595;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
}

.oneOpt:hover{
    background: #C7C7C7;
    box-shadow: 0px 3px 8px 0px black;
}


.onTop{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
    z-index: 99999;
    padding: 10%;
    padding-top: 15%;
}

.editItem{
    width: 100%;
    display: block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.editKey{
    margin-right: 15px;
}

.editVal{
    width: 50%;
}

.topDiv{
    width: 500px;
    margin: 50px auto;
    height: 500px;
    background: white;
    box-shadow: 0px 0px 79px 9px #504C4C;
}

.editMeta label{
    width: 30%;
    display: inline-block;
}

.txtOpt {
    float: right;
    text-align: right;
    padding-right: 5px;
}

.imgOpt {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.txtMenu{
    display: block;
    line-height: 50px;
    margin: 0 auto;
    text-align: center
}

#Cloud{
    width: 100vw;
    position: absolute;
    top: 0;
    padding-left: 240px;
    height: 100vh;
    overflow: auto;
    padding-top: 120px;
    padding-right: 3%;
}

#Notes{
    /*max-width: 1200px;*/
    /* margin-left: 250px; */
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    overflow: auto;
    padding-top: 120px;
}

#Notes .ulNotes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 .oneNote{
    width: 350px;
    height: 350px;
    max-width: 90vw;
    background: white;
    display: inline-block;
    margin: 10px;
    overflow: auto;
    position: relative;
    box-shadow: 0px 0px 11px 0px #a2a2a2;
}

.oneNote .date{
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: left;
    background: #98FF00;
    position: absolute;
    width: 93%;
}

.editorNote{
    width: 400px;
    max-width: 90vw;
    height: 400px;
    overflow: auto;
    float: left;
}

.btnSub{
    cursor: pointer;
    background: white;
    display: inline-block;
    padding: 5px;
}

.contentNote{
    padding: 10px;
    word-wrap: break-word;
    margin-top: 22px;
}

#editorParent{
    height: 360px;
    width: 317px;
    display: inline-block;
}

.inline{
    display: inline-block !important;
}
#addLink input{
    width: 600px;
    max-width: 80vw;
    height: 31px;
    font-size: 1.2em;
}

#addLink{
  position: relative;
  z-index: 1000;
  height: 50px;
  padding-bottom: 16px;
  display: inline-block;
  width: 100%;
}

.closeMeta{
    font-size: 25px;
    background: #f98b36;
    height: 28px;
    width: 28px;
    display: block;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px #252121;
}

.closeMeta:hover{
    box-shadow: 1px 1px 2px 0px #252121;
}

.btnOnTop{
    height: 40px;
    width: 45%;
    font-weight: bold;
    background: #f98b36;
    border: none;
    margin: 1px;
    box-shadow: 0px 0px 2px 0px #252121;
    cursor: pointer;
}

.btnOnTop:hover{
    box-shadow: 1px 1px 2px 0px #252121;
}


.itemMenu{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 505;
}

.dropZone{
    display: none;
}

.innerDrop{
    margin: 10% auto;
    font-size: 3em;
    font-family: monospace;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 1px 2px 6px white;
}
.willDrop{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(243, 183, 49, 0.74);
    z-index: 9999;
    text-align: center;
}

.dropBox{
    background: red;
}

.toptop {
    top: 0 !important;
}

.WrapperMenu{
    position: fixed;
    top: 0;
    padding-top: 120px;
    padding-bottom: 60px;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    /* background: #484848; */
}

.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;
}

.oneLink{
    float: left;
    /* margin-left: 10px; */
    /* padding: 2px; */
    /* width: 10%; */
    /* height: 20px; */
    /* text-align: center; */
    /* box-shadow: 1px 1px 5px -2px black; */
    /* background: #B5B5B5; */
    /* padding-left: 10px; */
    width: 30%;
    height: 40px;
    background: #272822;
    margin: 1%;
    /* padding-top: 20px; */
}
.oneLink a{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    text-decoration: none !important;
    /* line-height: 40px; */
    font-size: 23px;
    /* padding: 0 10px 0px 10px; */
    color: #66D9EF !important;
    text-align: center;
    /* vertical-align: top; */
}
.oneLink a:hover{
    color: #76C976;
}
.uploadStatus{
    position: fixed;
    overflow: auto;
    bottom: 0;
    right: 25px;
    width: 400px;
    height: 265px;
    padding: 5px;
    background: rgba(167, 167, 167, 0.59);
    z-index: 1001;
    box-shadow: 1px 1px 5px -2px black;
}

.uploadStatus ul {
    list-style-type: none;
    padding: 0;
}

.uploadStatus ul li {
    display: block;
    width: 100%;
    min-height: 25px;
    box-shadow: 0px 0px 8px 0px grey;
    margin-bottom: 5px;
    word-break: break-word;
    background: #3D3E3F;
    color: #D4BF34;
}
.upWrapper{
    background: #447D88;
    height: 3px;
}

.wrapperOnTop{
    padding: 15px;
    box-shadow: 0px 0px 3px 0px rgb(150, 85, 85);
    background: #272822;
    /* color: #FD971F; */
}

.closeOnTop{
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: block;
    text-align: center;
    line-height: 20px;
}
.wrapperOnTop p{
    display: inline-block;
}

#rss{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.oneFeed{
    height: 150px;
    overflow: hidden;
}
.feed{
    background: rgba(255, 255, 255, 0.81);
}
.full{
    height: auto !important;
}
.oneArticle{

}

.rootStuff{
    /*background: rgba(255, 255, 255, 0.81);*/
    margin: 6%;
    padding: 15px;
    margin-left: 250px;
    color: white;
}

.inputBox{
    position: fixed !important;
    width: 69%;
    /*height: 95px;*/
    margin: auto;
}

.listMusic{
    margin-top: 60px;
    margin-bottom: 130px;
}

#songViszu{
    clear: both;
}

.contentNote p{
    color: black;
}

.listUser{
    list-style-type: none;
}
.userItem{
    width: 350px;
    float: left;
    border: 1px solid #FD971F;
    margin: 5px;
}

.inputBtns{
    position: absolute;
    right: 0;
    z-index: 10;
}
.closeOnTop{
    color: #FD971F;
    cursor: pointer;
}
.wrapperOnTop h3{
    color: #FD971F;
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}
.highlight {
    padding:1px 4px;
    margin:0 -4px;
}

.delog{
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 9999999;
}

.small{
    height: 35px;
}

.error{
    background: #C75858;
}

.info{
    background: #40633B;
}

.files{
    list-style-type: none;
}

.oneVideo{
    box-shadow: -1px -1px 5px 1px rgba(27, 25, 25, 0.42);
    color: #dbd5c9;
    display: block;
    /*padding: 10px;*/
    height: 30px;
    margin: 5px;
    /*background: #272822;*/
    /*margin-left: 40px;*/
    transition: 0.1s;
    width: 95%;
    /* max-width: 280px; */
    /*float: left;*/
    word-wrap: break-word;
}

.fieldVideo {
    display: inline-block;
    background: #272822;
    overflow: overlay;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: 1%;
}

.orderToPrint{
    display: block;
    width: 100%;
    height: 15px;
    color: white;
    border: 1px solid #272822;
    padding-left: 4px;
    margin-left: -13px;
    font-size: 11px;
}

.fieldTitle{
    height: 40px;
    font-style: oblique;
    text-align: center;
}

.fieldTitle:hover{
    box-shadow: none !important;
    transform: scale(1);
}

.titleVideo{
    /*font-size: 18px;*/
    width: 69%;
}
.episodeVideo{
    width: 13%;
}

.seasonVideo{
    width: 13%;
}

.titleVideo:hover{
    cursor: pointer;
}

.optVideo{
    /*width: 40px;
    border: 1px solid #EAA63A;
    margin: 2px;
    padding: 2px;*/
}

.optVideo:hover{
    background: #EAA63A;
    cursor: pointer;
    color: #272822;
}


.oneVideo:hover{
    /*color: #272822;*/
    background: #447D88;
    box-shadow: -1px -1px 5px 1px rgb(68, 125, 136) !important;
    transform: scale(1.01);
}

.metaVideo{
    /*height: 100px;*/
    display: inline-block;
    width: 95%;
}

.optsVideo{
    display: inline-block;
    width: 4%
}

.categoryVideo{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #447D88;
    padding-bottom: 50px;
    margin-bottom: 15px;
}

.catTitle{
    color: white;
    text-align: center;
}

.torrents{
    border: 1px solid red;
}

.torOpt{
    width: 100%;
    display: block;
    height: 25px;
    margin: 0;
    color: #dbd5c3;
}

.torrentBox{
  position: absolute;
  top: 0;
  padding-left: 258px;
  height: 100vh;
  overflow: auto;
  width: 100%;
  padding-top: 120px;
}

.torrentFiles {
  margin-top: 28px;
}

.torrentInfo{
  color: white;
  display: block;
  float: left;
}

.torrentInfo.progressT {
  background: #eab348;
  width: 100%;
  height: 18px;
}

.torrentInfo.progressT .background {
  background: #57909b;
  height: inherit;
  z-index: 0;
  display: block;
}

.torrentInfo.progressT .progressText {
  color: black;
  z-index: 1;
  width: 20%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -19px;
}

.torrentInfo.name {
  width: 100%;
  background: #272822;
  font-size: 16px;
  height: 30px;
  overflow: hidden;
}

.torrentInfo.field {
  width: auto;
  margin-left: 10px;
}
.torrentInfo.field.cursor{
  cursor: pointer;
}
.torrentFields{
  height: 50px;
  background: #5f6061;
}
.oneTorrent {
  width: 98%;
  /*height: 150px;*/
  background: #272822;
  margin-bottom: 30px;
}
.oneTorrent .hover{
  display: none;
}

.torrentTarget{
  color: white;
  list-style-type: none;
  border-top: 1px solid #57909b;
  margin-top: 2px;
  height: 22px;
}

.targetSize{
  float: right;
}

.targetProgress{
  background: rgba(95, 96, 97, 0.23);
  position: absolute;
  height: inherit;
  z-index: 0;
}

.targetName{
  z-index: 5;
}
/*

    color: #dbd5c9;


possible music list item stuff:

@media (min-width: 640px)
.itemMusic {
    height: 25px;
    margin: 2px;
    cursor: pointer;
    background: #FFE8BE;
    display: inline-block;
    word-wrap: break-word;
    padding: 0;
    box-shadow: 2px 2px 2px 0px #000000;
    position: relative;
    width: 100%;
    transition: 0.1s;
    line-height: 25px;
}

@media (min-width: 640px)
.cover {
    width: 100%;
    height: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.71);
    display: none;
}

@media (min-width: 640px)
.Meta {
    height: 100%;
    font-family: monospace;
    padding: 0;
    display: inline-block;
}

.title, .artist {
    width: 100%;
    min-height: 20px;
    margin: 0;
    font-size: 14px;
    padding: 2px;
}

*/
