body{
    font-family: sans-serif;
    background: #EFEFF2;
}

.listMusic{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.btn-upload{
    background: grey;
    height:50px;
    line-height:50px;
    text-align: center;
    cursor: pointer;
}

.drop-box{
    width: 55%;
    height: 140px;
    border: 1px solid black;
    line-height: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.current{
    background: rgba(67, 179, 84, 0.7) !important;
}

.textItem{
    float: right;
    text-align: right;
}

@media (min-width: 640px){
    .itemMusic{
        width: 400px;
        height: 120px;
        margin: 5px;
        cursor: pointer;
        background: #FFFFFF;
        display: inline-block;
        word-wrap: break-word;
        padding: 2px;
        box-shadow: 1px 1px 2px 0px #A2A2A2;
        position: relative;
    }

    .itemMusic:hover{
        background: rgba(67, 179, 84, 0.4);
    }

    .Meta{
        height: 100%;
        float: right;
        padding-right: 9px;
        max-width: 51%;
    }

    .cover{
        width: 39%;
        float: left;
        height: 100%;
    }

    .cov{
        height: 120px;
        width: auto;
    }

    .metaPlayer{
        border: 1px solid black;
        width: 40%;
        position: relative;
        height: 100px;
    }

    audio {
        width : 40%;
    }
}

@media (max-width: 770px){
    .drop-box{
        display: none;
    }
    .itemMusic{
        width: 100%;
        height: 150px;
        margin: 1px;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        background: #FFFFFF;
        word-wrap: break-word;
        box-shadow: 1px 1px 2px 0px #A2A2A2;
        position: relative;
    }

    .Meta{
        height: 100%;
        padding-right: 9px;
        width: 58%;
        float: right;
    }

    .cover{
        height: 100%;
        width: 38%;
    }

    .cov{
        height: 100%;
        width: auto;
    }

    .metaPlayer{
        border: 1px solid black;
        width: 100%;
        position: relative;
        height: 100px;
    }

    audio {
        width : 100%;
    }
    .editMeta {
        width: 100% !important;
    }

}

.title, .artist{
    width: 100%;
    display: block;
    font-weight: bold;
    min-height: 20px;
    line-height: 21px;
    margin: 0;
    font-size: 18px;
    padding: 0;
    text-align: right;
}

.running{
    margin-left: 150px;
    height: 100%;
}

.runningCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
}

.RunningCov{
    height: 100%;
}

#mainMenu{
    width: 100%;
    height: 50px;
    background : #FFFFFF;
}

#mainMenu button{
    height: 40px;
    margin: 5px;
}

.optItem{
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 999;
}

.doMore{
    display: normal;
}

.WrapperItem{
    position: relative;
}

.liItem{
    width: inherit;
    height: inherit;
}

.optsItem{
    background: #868686;
    box-shadow: 1px 1px 10px 1px #405433;
    height: 110px;
    width: 120px;
    position: absolute;
    right: -14px;
    bottom: 27px;
    z-index: 9999;
    cursor: default;
}

.oneOpt{
    height: 30px;
    background: #CCCECC;
    width: 110px;
    display: block;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 0px #9E9595;
    cursor: pointer;
}

.oneOpt:hover{
    background: white;
}


.onTop{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(227, 234, 249, 0.75);
    width: 80%;
    height: 80%;
    z-index: 99999;
    padding: 10%;
}

.editMeta{
    width: 500px;
    margin: 50px auto;
    height: 500px;
    background: white;
}

.editMeta label{
    width: 30%;
    display: inline-block;
}
