body{
    font-family: sans-serif;
    background: #EFEFF2;
}

.listMusic{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.btn-upload{
    width: 90px;
    background: #F98B36;
    text-align: center;
    cursor: pointer;
    height: 90px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 0px 6px 0px #4E4E4E;
    position: absolute;
    top: 40px;
    right: 0px;
}

.btn-upload:hover{
    box-shadow: -1px -1px 6px -2px #4E4E4E;
    z-index: 9;
}

.btn-upload img{
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.drop-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 5px;
    background: rgba(255, 165, 0, 0.53);
    z-index: 99999;
}

.contentDrag{
    margin: auto;
    height: 500px;
    width: 500px;
    background: #FFCF78;
    border-radius: 50%;
    margin-top: 20%;
    text-align: center;
    font-size: 50px;
    line-height: 400px;
}

.dropping {
    background: orange;
}

.current{
    background: rgba(67, 179, 84, 0.7) !important;
}

.textItem{
    float: right;
    text-align: right;
}

@media (min-width: 640px){
    .itemMusic{
        width: 400px;
        height: 120px;
        margin: 5px;
        cursor: pointer;
        background: #FFFFFF;
        display: inline-block;
        word-wrap: break-word;
        padding: 2px;
        box-shadow: 1px 1px 2px 0px #A2A2A2;
        position: relative;
    }

    .itemMusic:hover{
        background: rgba(67, 179, 84, 0.4);
    }

    .Meta{
        height: 100%;
        float: right;
        padding-right: 9px;
        max-width: 51%;
    }

    .cover{
        width: 39%;
        float: left;
        height: 100%;
    }

    .cov{
        height: 120px;
        width: auto;
    }

    .metaPlayer{
        width: 40%;
        position: relative;
        height: 100px;
    }

    audio {
        width : 40%;
    }
}

@media (max-width: 770px){
    .itemMusic{
        width: 100%;
        height: 150px;
        margin: 1px;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        background: #FFFFFF;
        word-wrap: break-word;
        box-shadow: 1px 1px 2px 0px #A2A2A2;
        position: relative;
    }

    .Meta{
        height: 100%;
        padding-right: 9px;
        width: 58%;
        float: right;
    }

    .cover{
        height: 100%;
        width: 38%;
    }

    .cov{
        height: 100%;
        width: auto;
    }

    .metaPlayer{
        width: 100%;
        position: relative;
        height: 100px;
    }

    audio {
        width : 100%;
    }
    .editMeta {
        width: 100% !important;
    }

}

.title, .artist{
    width: 100%;
    display: block;
    font-weight: bold;
    min-height: 20px;
    line-height: 21px;
    margin: 0;
    font-size: 18px;
    padding: 0;
    text-align: right;
}

.running{
    margin-left: 150px;
    height: 100%;
}

.runningCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
}

.RunningCov{
    height: 100%;
}

#mainMenu{
    width: 100%;
    height: 50px;
    background : #FFFFFF;
}

#mainMenu button{
    height: 40px;
    margin: 5px;
}

.optItem{
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 999;
}

.doMore{
    display: normal;
}

.WrapperItem{
    position: relative;
}

.liItem{
    width: inherit;
    height: inherit;
}

.optsItem{
    background: #EFEFF2;
    box-shadow: 1px 1px 10px 1px #8E8E8E;
    height: 96px;
    width: 110px;
    position: absolute;
    right: -14px;
    bottom: 27px;
    z-index: 9999;
    cursor: default;
}

.oneOpt{
    height: 30px;
    background: #CCCECC;
    width: 106px;
    display: block;
    line-height: 30px;
    margin: 1px auto;
    text-align: center;
    box-shadow: 1px 1px 1px 0px #9E9595;
    cursor: pointer;
    position: relative;
}

.oneOpt:hover{
    background: white;
}


.onTop{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(227, 234, 249, 0.75);
    width: 80%;
    height: 80%;
    z-index: 99999;
    padding: 10%;
}

.editMeta{
    width: 500px;
    margin: 50px auto;
    height: 500px;
    background: white;
}

.editMeta label{
    width: 30%;
    display: inline-block;
}

.txtOpt {
    display: inline-block;
    padding-left: 17px;
}

.imgOpt {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.ctrls{
    position: absolute;
    top: 5px;
    left: 115px;
}

.ctrls img {
    opacity: 0.4;
    margin-left:15px;
    cursor: pointer;
}

.ctrls img:hover{
    opacity: 1;
}
