<!DOCTYPE html>
<html>
<head>
    <title>welcome in ourPlace.</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h3 style="text-align: center;
                background: rgb(51, 51, 51) none repeat scroll 0% 0%;
                color: rgb(219, 213, 201);
                width: 80%;
                margin-left: 10%;
                height: 40px;
                line-height: 40px;">
        Hi {{pseudo}}!
    </h3>
    <div id="main" style="width: 80%;
                        margin-left: 10%;
                        padding: 25px;
                        background: #FFE8BE;">
        <p>
            You've been invited to join <span class="imp">OurPlace</span> by {{from}}, <br>
            Music sharing and easy listening between friends. Nothing more :) <br>
            You can choose a password and log in here <a href="{{url}}" class="link" style="display: inline-block;
                                                                                            font-size: 22px;
                                                                                            height: 30px;
                                                                                            line-height: 30px;
                                                                                            border: 1px solid rgba(67, 239, 239, 0.77);
                                                                                            padding: 5px;
                                                                                            border-radius: 10px;
                                                                                            color: #FD971F;">
                                                        {{url}}</a>.
            See ya! 
        </p>
    </div>
    <div id="footer" style=" width: 100%;
            font-size: 10px;">
        What the fuck is this mail? <br>
        Ask me at jules.buret@gmail.com  !<br>
        And if you whish to see source code, here you go: <a href="https://github.com/kizdolf/ourPlace">OurPlace on Github.</a>
    </div>
</body>
</html>